/* import fonts Josefin Sans 300 and Alata 400 */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/* reminder for me
font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/

/* Background Hero Images */

.navbar-wrapper {
    background-image: url("images/desktop/image-hero.jpg")
}

:root{
    /*Primary colors */
    /* White */
    --clr-primary-white: hsl(0, 0%, 100%);
    /* Black */
    --clr-primary-black: hsl(0, 0%, 0%);
    /* Dark Gray*/
    --clr--primary-dark-gray: hsl(0, 0%, 55%);
    /* Very Dark Gray */
    --clr--primary-very-dark-grey: hsl(0, 0%, 41%);
}


/* Defaults */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 400;
}

body {
    font-size: 15px;
}

h1,h2,span {
    font-family: 'Josefine Sans', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}

p,a, button {
    font-family: 'Alata', sans-serif;
}

/*

/* Attribution */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

header {
    height: 100vh;
    
    background-image: url('../images/mobile/image-hero.jpg');
    background-size: cover;
    background-position: center top;

    display: grid;
    align-items: start;
}