/* import fonts Josefin Sans 300 and Alata 400 */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/* Background Hero Images */

.navbar-wrapper {
    background-image: url("images/desktop/image-hero.jpg")
}

:root{
    /*Primary colors */
    /* White */
    --clr-primary-white: hsl(0, 0%, 100%);
    /* Black */
    --clr-primary-black: hsl(0, 0%, 0%);
    /* Dark Gray*/
    --clr--primary-dark-gray: hsl(0, 0%, 55%);
    /* Very Dark Gray */
    --clr--primary-very-dark-grey: hsl(0, 0%, 41%);
}


/* Defaults */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 400;
}

body {
    font-size: 15px;
    margin: 0
}

h1,h2,span {
    font-family: 'Josefine Sans', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 2em;
    margin: .67em 0
}

p,a, button {
    font-family: 'Alata', sans-serif;
}

main {
    display: block
}


/* Attribution */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

header {
    height: 100vh;
    
    background-image: url('../images/mobile/image-hero.jpg');
    background-size: cover;
    background-position: center top;

    display: grid;
    align-items: start;
}

footer {
    background-color: var(--clr-primary-black);
    color: var(--clr-primary-white);
    padding-top: 3.6rem;
    padding-bottom: 3.5rem;
}

nav {
    order: 2;
}

.navbar {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    -webkit-animation: move-down 1s;
    animation: move-down 1s
}

.title-wrapper {
    width: 86%;
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto
}

.title {
    max-width: 652px;
    padding: 20px;
    border: 2px solid;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    font-size: 2.5rem;
    color: #fff;
    line-height: 1
}

@media(min-width: 75rem) {
    footer {
        padding-top: 2.8rem;
        padding-bottom: 2.8rem
    }
}

@media(min-width: 75rem) {
    footer nav {
        order: 2
    }
}

.navbar__wrapper {
    width: 86%;
    height: 25px;
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.navbar__logo {
    display: block;
    width: 150px

}